<h1> Edit <%= @user.username %></h1>
<hr/>

<form method="POST" action='/users/<%= @user.id %>'>
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label> Username: </label><input type="text" name="user[username]" value="<%= @user.username %>"><br>
  <label> Password: </label><input type="password" name="user[password]" value="<%= @user.password %>"><br>
  <label> Name: </label><input type="text" name="user[name]" value="<%= @user.name %>"><br>
  <input type="submit" value="Update Profile"

</form>


<a href="/logout"> Log Out </a>
