<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<h1> Edit <%= @user.username %></h1>
<hr/>

<form method="POST" action='/users/<%= @user.id %>'>
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label> Username: </label><input type="text" name="user[username]" value="<%= @user.username %>"><br>
  <label> Password: </label><input type="password" name="user[password]" value="<%= @user.password %>"><br>
  <label> Email: </label><input type="text" name="user[email]" value="<%= @user.email %>"><br>
  <label> Name: </label><input type="text" name="user[name]" value="<%= @user.name %>"><br>
  <input type="submit" value="submit"

</form>


<a href="/logout"> Log Out </a>

</head>
</html>
