<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<h2>Add State(s)</h2>

<img src="/images/us-regions.jpg" alt="5 Regions of US">
<br>
<br>


<form method="POST" action="/states">
    <h3>Northeast:</h3>
    <input type="checkbox" name="state_name[]" value="Connecticut" <%= "checked" if current_user.states.find{|state| state.state_name == "Connecticut"}%> > Connecticut<br />
    <input type="checkbox" name="state_name[]" value="Deleware" <%= "checked" if current_user.states.find{|state| state.state_name == "Deleware"}%> > Deleware <br>
    <input type="checkbox" name="state_name[]" value="Maine" <%= "checked" if current_user.states.find{|state| state.state_name == "Maine"}%> > Maine<br>
    <input type="checkbox" name="state_name[]" value="Maryland" <%= "checked" if current_user.states.find{|state| state.state_name == "Maryland"}%> > Maryland<br>
    <input type="checkbox" name="state_name[]" value="Massachusetts" <%= "checked" if current_user.states.find{|state| state.state_name == "Massachusetts"}%> > Massachusetts<br>
    <input type="checkbox" name="state_name[]" value="New Hampshire" <%= "checked" if current_user.states.find{|state| state.state_name == "New Hampshire"}%> > New Hampshire<br>
    <input type="checkbox" name="state_name[]" value="New Jersey" <%= "checked" if current_user.states.find{|state| state.state_name == "New Jersey"}%> > New Jersey<br>
    <input type="checkbox" name="state_name[]" value="New York" <%= "checked" if current_user.states.find{|state| state.state_name == "New York"}%> > New York<br>
    <input type="checkbox" name="state_name[]" value="Pennsylvania" <%= "checked" if current_user.states.find{|state| state.state_name == "Pennsylvania"}%> > Pennsylvania<br>
    <input type="checkbox" name="state_name[]" value="Rhode Island" <%= "checked" if current_user.states.find{|state| state.state_name == "Rhode Island"}%> > Rhode Island<br>
    <input type="checkbox" name="state_name[]" value="Vermont" <%= "checked" if current_user.states.find{|state| state.state_name == "Vermont"}%> > Vermont<br>

    <br>
    <h3>Southeast:</h3>
    <input type="checkbox" name="state_name[]" value="Alabama" <%= "checked" if current_user.states.find{|state| state.state_name == "Alabama"}%> > Alabama<br>
    <input type="checkbox" name="state_name[]" value="Arkansas" <%= "checked" if current_user.states.find{|state| state.state_name == "Arkansas"}%> > Arkansas<br>
    <input type="checkbox" name="state_name[]" value="Florida" <%= "checked" if current_user.states.find{|state| state.state_name == "Florida"}%> > Florida<br>
    <input type="checkbox" name="state_name[]" value="Georgia" <%= "checked" if current_user.states.find{|state| state.state_name == "Georgia"}%> > Georgia<br>
    <input type="checkbox" name="state_name[]" value="Kentucky" <%= "checked" if current_user.states.find{|state| state.state_name == "Kentucky"}%> > Kentucky<br>
    <input type="checkbox" name="state_name[]" value="North Carolina" <%= "checked" if current_user.states.find{|state| state.state_name == "North Carolina"}%> > North Carolina<br>
    <input type="checkbox" name="state_name[]" value="South Carolina" <%= "checked" if current_user.states.find{|state| state.state_name == "South Carolina"}%> > South Carolina<br>
    <input type="checkbox" name="state_name[]" value="Louisiana" <%= "checked" if current_user.states.find{|state| state.state_name == "Louisiana"}%> > Louisiana<br>
    <input type="checkbox" name="state_name[]" value="Missippi" <%= "checked" if current_user.states.find{|state| state.state_name == "Missippi"}%> > Missippi<br>
    <input type="checkbox" name="state_name[]" value="Tennessee" <%= "checked" if current_user.states.find{|state| state.state_name == "Tennessee"}%> > Tennessee<br>
    <input type="checkbox" name="state_name[]" value="Virginia" <%= "checked" if current_user.states.find{|state| state.state_name == "Virginia"}%> > Virginia<br>
    <input type="checkbox" name="state_name[]" value="West Virginia" <%= "checked" if current_user.states.find{|state| state.state_name == "West Virginia"}%> > West Virginia<br>

    <br>
    <h3>Midwest:</h3>
      <input type="checkbox" name="state_name[]" value="Iowa" <%= "checked" if current_user.states.find{|state| state.state_name == "Iowa"}%>> Iowa<br>
      <input type="checkbox" name="state_name[]" value="Indiana" <%= "checked" if current_user.states.find{|state| state.state_name == "Indiana"}%>> Indiana<br>
      <input type="checkbox" name="state_name[]" value="Illinois" <%= "checked" if current_user.states.find{|state| state.state_name == "Illinois"}%>> Illinois <br>
      <input type="checkbox" name="state_name[]" value="Kansas" <%= "checked" if current_user.states.find{|state| state.state_name == "Kansas"}%>> Kansas <br>
      <input type="checkbox" name="state_name[]" value="Michigan" <%= "checked" if current_user.states.find{|state| state.state_name == "Michigan"}%>> Michigan <br>
      <input type="checkbox" name="state_name[]" value="Minnesota" <%= "checked" if current_user.states.find{|state| state.state_name == "Minnesota"}%>> Minnesota<br>
      <input type="checkbox" name="state_name[]" value="Missouri" <%= "checked" if current_user.states.find{|state| state.state_name == "Missouri"}%>> Missouri<br>
      <input type="checkbox" name="state_name[]" value="Nebraska" <%= "checked" if current_user.states.find{|state| state.state_name == "Nebraska"}%>> Nebraska <br>
      <input type="checkbox" name="state_name[]" value="Ohio" <%= "checked" if current_user.states.find{|state| state.state_name == "Ohio"}%>> Ohio <br>
      <input type="checkbox" name="state_name[]" value="North Dakota" <%= "checked" if current_user.states.find{|state| state.state_name == "North Dakota"}%>> North Dakota <br>
      <input type="checkbox" name="state_name[]" value="South Dakota" <%= "checked" if current_user.states.find{|state| state.state_name == "South Dakota"}%>> South Dakota <br>
      <input type="checkbox" name="state_name[]" value="Wisconsin" <%= "checked" if current_user.states.find{|state| state.state_name == "Wisconsin"}%>> Wisconsin <br>


    <br>
    <h3>West:</h3>
      <input type="checkbox" name="state_name[]" value="Alaska" <%= "checked" if current_user.states.find{|state| state.state_name == "Alaska"}%>> Alaska<br>
      <input type="checkbox" name="state_name[]" value="California" <%= "checked" if current_user.states.find{|state| state.state_name == "California"}%>> California<br>
      <input type="checkbox" name="state_name[]" value="Colorado" <%= "checked" if current_user.states.find{|state| state.state_name == "Colorado"}%>> Colorado<br>
      <input type="checkbox" name="state_name[]" value="Hawaii" <%= "checked" if current_user.states.find{|state| state.state_name == "Hawaii"}%>> Hawaii<br>
      <input type="checkbox" name="state_name[]" value="Idaho" <%= "checked" if current_user.states.find{|state| state.state_name == "Idaho"}%>> Idaho<br>
      <input type="checkbox" name="state_name[]" value="Montana" <%= "checked" if current_user.states.find{|state| state.state_name == "Montana"}%>> Montana<br>
      <input type="checkbox" name="state_name[]" value="Nevada" <%= "checked" if current_user.states.find{|state| state.state_name == "Nevada"}%>> Nevada<br>
      <input type="checkbox" name="state_name[]" value="Oregon" <%= "checked" if current_user.states.find{|state| state.state_name == "Oregon"}%>> Oregon<br>
      <input type="checkbox" name="state_name[]" value="Utah" <%= "checked" if current_user.states.find{|state| state.state_name == "Utah"}%>> Utah<br>
      <input type="checkbox" name="state_name[]" value="Washington" <%= "checked" if current_user.states.find{|state| state.state_name == "Washington"}%>> Washington<br>
      <input type="checkbox" name="state_name[]" value="Wyoming" <%= "checked" if current_user.states.find{|state| state.state_name == "Wyoming"}%>> Wyoming<br>



    <br>
    <h3>Southwest:</h3>
      <input type="checkbox" name="state_name[]" value="Arizona" <%= "checked" if current_user.states.find{|state| state.state_name == "Arizona"}%>> Arizona <br>
      <input type="checkbox" name="state_name[]" value="New Mexico" <%= "checked" if current_user.states.find{|state| state.state_name == "New Mexico"}%>> New Mexico <br>
      <input type="checkbox" name="state_name[]" value="Oklahoma" <%= "checked" if current_user.states.find{|state| state.state_name == "Oklahoma"}%>> Oklahoma <br>
      <input type="checkbox" name="state_name[]" value="Texas" <%= "checked" if current_user.states.find{|state| state.state_name == "Texas"}%>> Texas<br>



      <style>
      .button {
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
      }
      </style>
<br>
    <input class="button" type="submit" value= "Add State(s)!">
</form>

<br>
<a href="/states"> My State List </a>
<br>
<a href="/">Home</a>
<br>
<a href="/logout"> Log Out </a>

</head>
</html>
