<p><%= @state.state_name %></p>

 <form method="POST" action="/states/<%= @state.id %>/delete">
    <input id="hidden" type="hidden" name="_method" value="Delete">
    <input type="submit" value="Delete State">
</form>
 <a href="/states/<%= @state.id %>/edit">Edit State </a>






<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Show States</title>
  </head>
    <body>



    Name: <%= @state.name %>
    Region: <%= @state.region %>
    Abbreviation: <%= @state.abbreviation %>

    </body>

</html> -->
