<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<p><h2><%= @state.state_name %></h2></p>

  <% if @state.users.count != 0 %>
        <%if @state.users.count == 1%>
          Only <%= @state.users.count %> traveler has visited <%= @state.state_name %>!
          <% else %>
          Wow! <%= @state.users.count %> travelers have visited <%= @state.state_name %>!
          <br>
          That's <%= (@state.users.count.to_i / User.all.count)*100 %>% of all of our travelers!
        <%  end %>
  <% else %>
    No travelers have visited yet.

  <% end %>


  <% @userstate = UserState.find_or_initialize_by(state_id: params[:id], user_id: current_user.id) %>
  <% if @userstate.memory%>
      <br><br>My favorite memory:
      <br><%=  @userstate.memory%>
    <%end%>


    <% if @userstate.memory%>
      <form method="GET" action="/states/<%= @state.id %>/edit">
       <input type="submit" value="Edit State Info">
        </form>

     <%else%>
      <form method="GET" action="/states/<%= @state.id %>/add_details">
         <input type="submit" value="Add State Info">
         </form>

    <%end%>



<br>
<br>
<a href="/states"> View My States </a>
<br>

<br>
<a href="/logout"> Log Out </a>

</head>

<iframe src="https://createaclickablemap.com/map.php?&id=74148&maplocation=false&online=true" width="900" height="525" style="border: none;"></iframe>
<script>if (window.addEventListener){ window.addEventListener("message", function(event) { if(event.data.length >= 22) { if( event.data.substr(0, 22) == "__MM-LOCATION.REDIRECT") location = event.data.substr(22); } }, false); } else if (window.attachEvent){ window.attachEvent("message", function(event) { if( event.data.length >= 22) { if ( event.data.substr(0, 22) == "__MM-LOCATION.REDIRECT") location = event.data.substr(22); } }, false); } </script>


</html>
